.about h1, h2, h3, h4, h5 {
    font-weight: bold;
    margin-bottom: 25px;
    color: #DCDCDC;
    font-weight: 600;
}

.about h1 {
    font-size: 150%;
}

.about h2 {
    font-size: 140%;
}

.about h3 {
    font-size: 130%;
}

.about h4 {
    font-size: 120%;
}

.about h5 {
    font-size: 110%;
}

.about p > a {
    text-decoration: underline;
}

.about ul {
    list-style: inherit;
}

.about > b {
    font-weight: bold;
    font-weight: 600;
}
